@media (max-width: 1200px) and (min-width: 840px) {
    .wrap_title {
        width: 777px;
        margin: 0 auto;
        margin-bottom: 110px;
    }
    .inner_about {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 800px;
        width: 700px;
    }
    .aboutUs {
        height: 1002px;
        width: 100%;
    }
    .block_text {
        width: 700px;
        margin-top: 30px;
    }
    .img_about{
        width: 700px;
        height: 450px;
    }
    .block_border1 {
        position: absolute;
        top: 0;
        /* left: 200px; */
        margin-bottom: 30px;
    }
    .block_border2 {
        margin-top: -35px;
    }
    .wrap_content {
        width: 777px;
        margin: 0 auto;
    }
}

@media (max-width: 839px) and (min-width: 631px) {
    .wrap_title {
        width: 580px;
        margin: 0 auto;
        margin-bottom: 110px;
    }
    .inner_about {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 635px;
        width: 500px;
    }
    .aboutUs {
        height: 838px;
        width: 100%;
    }
    .block_text {
        width: 500px;
        margin-top: 30px;
        font-size: 20px;
    }
    .img_about{
        width: 500px;
        height: 350px;
    }
    .block_border1 {
        position: absolute;
        top: 0;
        /* left: 200px; */
        margin-bottom: 30px;
    }
    .block_border2 {
        margin-top: -35px;
    }
    .wrap_content {
        width: 580px;
        margin: 0 auto;
    }
}

@media (max-width: 630px) and (min-width: 401px) {
    .wrap_title {
        width: 380px;
        margin: 0 auto;
        margin-bottom: 110px;
    }
    .inner_about {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 625px;
        width: 300px;
    }
    .aboutUs {
        height: 800px;
        width: 100%;
        margin-bottom: 0px;
    }
    .block_text {
        width: 300px;
        margin-top: 30px;
        font-size: 20px;
    }
    .img_about{
        width: 300px;
        height: 200px;
    }
    .block_border1 {
        position: absolute;
        top: 0;
        /* left: 200px; */
        margin-bottom: 30px;
    }
    .block_border2 {
        margin-top: -35px;
    }
    .wrap_content {
        width: 380px;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .wrap_title {
        width: 100%;
        margin: 0 auto;
        margin-bottom:0px;
    }
    .inner_about {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 625px;
        margin: 0 auto;
        width: 100%;
    }
    .aboutUs {
        height: 800px;
        width: 100%;
        margin-top: 60px ;
        margin-bottom: 50px;
        
    }
    .block_text {
        width: 300px;
        margin-top: 30px;
        font-size: 20px;
    }
    .img_about{
        width: 300px;
        height: 200px;
    }
    .block_border1 {
        position: absolute;
        top: 0;
        /* left: 200px; */
        margin-bottom: 30px;
        display: none;
    }
    .block_border2 {
        margin-top: -35px;
        display: none;
    }
    .wrap_content {
        width: 100%;
        margin: 0 auto;
    }
}