@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
@font-face{
    font-family:  'Roboto Bold', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
}
*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}