.advantages {
    width: 100%;
    background: transparent;
    margin:0 auto;
    margin-bottom: 240px;
}
.advantages .stick {
    width: 170px;
}
.wrap_content_ad {
    margin-top: 110px;
    width: 100%;
}
.advantages .wrap_title {
    width: 1170px;
    margin: 0 auto;
}
.block_text_ad {
    width: 100%;
    height: 340px;
    background: #303959;
    color: white;
    text-align: left;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_text_ad p {
    width: 1170px;
}
.block_bottom_ad {
    width: 100%;
    height: 77px;
    background: #000;
}
.block_cards_ad {
    width: 1170px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    margin-top: -77px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    width: 230px;
    height: 300px;
    background: #303959;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card img {
    width: 59px;
    height: 59px;
}
.card h2 {
    color: white;
    font-weight: 500;
}
.circle {
    width: 132px;
    height: 132px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}