@media (max-width: 1200px) and (min-width: 821px) {
    .block_text_ad {
        font-size: 20px;
    }
    .block_text_ad p {
        width: 777px;
    }
    .advantages .wrap_title {
        margin-left: 200px;
        width: 777px;
        margin: 0 auto;
    }
    .block_cards_ad {
        margin-top: 0px;
        width: 800px;
    }
    .card {
        width: 180px;
        height: 250px;
    }
    .circle {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 820px) and (min-width: 671px) {
    .block_text_ad {
        font-size: 20px;
    }
    .block_text_ad p {
        width: 600px;
    }
    .advantages .wrap_title {
        margin-left: 200px;
        width: 600px;
        margin: 0 auto;
    }
    .block_cards_ad {
        margin-top: 0px;
        width: 650px;
        height: 300px;
    }
    .card {
        width: 140px;
        height: 210px;
    }
    .circle {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 670px) and (min-width: 521px) {
    .block_text_ad {
        font-size: 20px;
    }
    .block_text_ad p {
        width: 470px;
    }
    .advantages .wrap_title {
        margin-left: 200px;
        width: 470px;
        margin: 0 auto;
        font-size: 30px;
    }
    .block_cards_ad {
        margin-top: 0px;
        width: 100%;
        height: 300px;
    }
    .card {
        width: 140px;
        height: 210px;
    }
    .circle {
        width: 80px;
        height: 80px;
    }
    .advantages {
        margin-top: 150px;
        margin-bottom: 100px;
    }
}

@media (max-width: 520px) and (min-width: 351px) {
    .block_text_ad {
        font-size: 20px;
    }
    .block_text_ad p {
        width: 320px;
    }
    .advantages .wrap_title {
        margin-left: 200px;
        width: 100%;
        margin: 0 auto;
        font-size: 30px;
    }
    .block_cards_ad {
        margin-top: 0px;
        width: 100%;
        height: 800px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .card {
        width: 140px;
        height: 210px;
    }
    .circle {
        width: 80px;
        height: 80px;
    }
    .advantages {
        margin-top: 150px;
    }
}

@media (max-width: 350px) {
    .block_text_ad {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .block_text_ad p {
        width: 320px;
    }
    .advantages .wrap_title {
        width: 300px;
        margin: 0 auto;
        font-size: 30px;
    }

    .block_cards_ad {
        margin-top: 0px;
        width: 100%;
        height: 800px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .card {
        width: 140px;
        height: 210px;
    }
    .circle {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 400px) {
    .advantages {
        margin-top: -50px;
    }
}
