.block_filter{
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapp_header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 350px;
    background: transparent;
}
.wrapp_header h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    font-family:  'Roboto Bold', sans-serif;
    line-height: 132.5%;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.wrapp_header h1 span{
    color: #00F6FF;
    font-size: 100px;
    text-align: center;
    font-family:  'Roboto Bold', sans-serif;
}
.wrapp_header button {
    width: 200px;
    height: 57px;
    box-shadow: 0px 13px 43px 4px rgba(255, 255, 255, 0.555);
    margin: 0 auto;
    border: none;
    outline: none;
    background: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family:  'Roboto Bold', sans-serif;
    transition: 0.3s all;
}
.wrapp_header button:hover {
    background: white;
    color:black;
    box-shadow: 0px 13px 43px 4px rgba(0, 0, 0, 0.555);
}