.footer {
    width: 100%;
    height: 95px;
    background: #333333;
}
.wrap_footer {
    width: 350px;
    height: 95px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00F6FF;
    font-size: 13px;
}