.join {
    width: 1180px;
    height: 641px;
    background: transparent;
    margin: 0 auto;
    margin-top: 240px;
    margin-bottom: 240px;
}
.jn .stick {
    width: 150px;
}
.inner_join {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: -35px;
    margin-left: 40px;
}
.form {
    width: 514px;
    height: 363px;
    background: #303959;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp {
    width:360px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    font-size: 19px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn_send {
    width: 360px;
    height: 65px;
    background: #376D7D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    color: white;
    font-size: 23px;
    font-weight: 900;
    cursor: pointer;
}
.wrap_inps {
    width: 360px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}