.nav {
    width: 100%;
    height:  95px;
    background-color: #333333;
}
.wrapp_inner_nav{
    width: 70%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.wrapp_inner_nav h3{
    color: #00F6FF;
    font-style: normal;
    font-weight: normal;
}